
/* <<<<< macfox_nostalgia >>>>> */

/* ===== fission.css ====================================================
  == "Fission 1.0.9" by zeniko
  == http://mozilla.zeniko.ch/fission.html
  == https://addons.mozilla.org/en-US/firefox/addon/1951/
  == Styles accommodate the Extension to macfox NOSTALGIA theme.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#urlbar[fission="fusion"],
#urlbar[fission="fusion"][newlines] {
	-moz-binding: url("chrome://global/skin/accommodate-extensions/fission.xml#fission-urlbar-redux-macfox-nostalgia");
}

#urlbar[fission="fusion"] progressmeter {
/*	margin: 2px -16px 1px 1px;*/ /* dropmarker 無しの URLbar では、はみ出してしまう */
	margin: 2px 1px 1px;
	background-image: none;
	min-width: 0;
}

#urlbar[fission="fusion"] .progress-bar {
	background: url("chrome://global/skin/accommodate-extensions/fission-urlbar-progressbar.png") repeat-x left center;
}

#main-window[persona] #urlbar[fission="fusion"] .progress-bar {
	opacity: .8;
}

#urlbar[fission="icon"] progressmeter {
	margin-top: 3px;
	height: 11px !important;
}

#FissionOptions #urlbar[fission="fusion"] progressmeter {
	margin: 2px 1px 1px !important;
	height: 18px;
}

#FissionOptions #urlbar[fission="icon"] progressmeter {
	margin: 1px 3px !important;
}
