
/* <<<<< macfox_nostalgia >>>>> */

/* ===== stylish.css ====================================================
  == "Stylish 1.0.8" by Jason Barnabe
  == http://userstyles.org/
  == https://addons.mozilla.org/en-US/firefox/addon/2108/
  == Styles accommodate the Extension to macfox NOSTALGIA theme.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#viewGroup radio#userstyles-view:hover {
	list-style-image: url("chrome://global/skin/accommodate-extensions/stylish-radio-hover.png");
}

notificationbox#styles-container {
	margin: 7px 6px 0;
}

richlistbox#styles {
	margin-top: 1px;
	margin-bottom: 0;
	border: 1px solid;
	-moz-border-top-colors: #a3a3a3 #a3a3a3;
	-moz-border-right-colors: #a3a3a3 #a3a3a3;
	-moz-border-bottom-colors: #a3a3a3 #a3a3a3;
	-moz-border-left-colors: #a3a3a3 #a3a3a3;
}

richlistbox#styles richlistitem[selected="true"] {
	background-color: #e8e8ee;
	color: #000;
}

richlistbox#styles richlistitem[isDisabled="true"] {
	color: GrayText;
}

richlistbox#styles:focus richlistitem[selected="true"] {
	background: #e8e8ee url("chrome://global/skin/richlistbox/item-enabled-fader.png") repeat-x top left;
	color: #000;
}

richlistbox#styles:focus richlistitem[selected="true"][isDisabled="true"] {
	background: #fafaff url("chrome://global/skin/richlistbox/item-disabled-fader.png") repeat-x top left;
	color: GrayText;
}

richlistbox#styles *[anonid="heading"] {
	border-bottom: 1px dotted #c0c0c0;
	background-color: #ddd;
}

richlistbox#styles *[anonid="twisty"],
richlistbox#styles *[anonid="twisty"] > .button-box {
	background-image: none;
	height: auto;
}

dialog#stylish #internal-code {
	margin-bottom: 3px;
/*	font-size: 12px;*/
	font-size: small; /* なんでこれで 13px になるのか、よく分からん。*/
}

dialog#stylish #findbar {
	background: transparent none;
}

/* :::::::::: sidebar :::::::::: */

#stylish-manage-standalone #styles-filter {
	-moz-margin-start: 0;
}

#stylish-manage-standalone #styles-sort {
	-moz-margin-start: 0;
	-moz-margin-end: 0;
}

/* button style */
@moz-document url("about:stylish-edit") {
.devtools-toolbarbutton {
padding: 0 !important;
border: none !important;
}
}
