
/* <<<<< macfox_nostalgia >>>>> */

/* ===== treeStyleTab.css ===================================================
  == "Tree Style Tab 0.10.2010051201" by SHIMODA Hiroshi
  == http://piro.sakura.ne.jp/xul/_treestyletab.html.en
  == https://addons.mozilla.org/en-US/firefox/addon/5890/
  == Styles accommodate the Extension to macfox NOSTALGIA theme.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* .tab-image-* の background-image は、#main-window[persona] で細かく指定してあるものを、
   ひとつひとつつぶしていくのが面倒なので、!important で一括抑制することにした。*/

/* :::::::::: container :::::::::: */

/* padding されていると、自動的に隠す設定で、statusbar コンテンツが移動してしまう。タブの一覧を表示ボタンもこれできちんと収まる。 */
tabbrowser[treestyletab-mode="vertical"] .tabbrowser-tabs {
	padding-bottom: 0;
}

/* :::::::::: square style :::::::::: */

tabbrowser[treestyletab-style~="square"]:not([treestyletab-tabbar-position="top"]) .tabbrowser-tab > .tab-image-middle,
tabbrowser[treestyletab-style~="square"]:not([treestyletab-tabbar-position="top"]) .tabbrowser-tab > .tab-close-button {
	background-image: none !important;
}

tabbrowser[treestyletab-mode="vertical"][treestyletab-style~="square"] .tabbrowser-tab .tab-text {
	text-align: start;
}

tabbrowser[treestyletab-style~="square"]:not([treestyletab-tabbar-position="top"]) .tabbrowser-tab[selected="true"] .tab-text {
	font-weight: bold;
}

/* :::::::::: metal style :::::::::: */

tabbrowser[treestyletab-mode="vertical"][treestyletab-style="metal"] .tabbrowser-tab > .tab-image-left, 
tabbrowser[treestyletab-mode="vertical"][treestyletab-style="metal"] .tabbrowser-tab > .tab-image-middle, 
tabbrowser[treestyletab-mode="vertical"][treestyletab-style="metal"] .tabbrowser-tab > .tab-close-button,
tabbrowser[treestyletab-mode="vertical"][treestyletab-style="metal"] .tabbrowser-tab > .tab-image-right {
	background-image: none !important;
}

tabbrowser[treestyletab-mode="vertical"][treestyletab-style="metal"] .tabbrowser-tab .tab-text {
	color: #000;
}

tabbrowser[treestyletab-mode="vertical"][treestyletab-style="metal"] .tabbrowser-tab[selected="true"] .tab-text {
	font-weight: bold;
}

/* :::::::::: sidebar style :::::::::: */

tabbrowser[treestyletab-mode="vertical"][treestyletab-style="sidebar"] .tabbrowser-strip,
#main-window:not([active="true"]) tabbrowser[treestyletab-mode="vertical"][treestyletab-style="sidebar"] .tabbrowser-strip {
	border-top: none;
}

tabbrowser[treestyletab-mode="vertical"][treestyletab-style="sidebar"] .tabs-container {
	padding: 0;
}

tabbrowser[treestyletab-mode="vertical"][treestyletab-style="sidebar"] .tabbrowser-tab > .tab-image-left,
tabbrowser[treestyletab-mode="vertical"][treestyletab-style="sidebar"] .tabbrowser-tab > .tab-image-right {
	display: none;
}

tabbrowser[treestyletab-mode="vertical"][treestyletab-style="sidebar"] .tabbrowser-tab > .tab-image-middle,
tabbrowser[treestyletab-mode="vertical"][treestyletab-style="sidebar"] .tabbrowser-tab > .tab-close-button {
	background-image: none !important;
}

tabbrowser[treestyletab-mode="vertical"][treestyletab-style="sidebar"] .tabbrowser-tab .tab-text {
	text-align: start;
}

/* :::::::::: config window :::::::::: */

#treestyletab-config #prefpane-appearance arrowscrollbox[overflow="true"] {
	border: 1px solid #c0c0c0;
}

#treestyletab-config #prefpane-appearance radio[value="auto"] {
	padding-top: 5px;
}

#treestyletab-config #prefpane-appearance radio[value="auto"] > .radio-check {
	max-height: 18px;
}
