/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== groupbox.css ===================================================
  == Styles used by the XUL groupbox and related elements.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: groupbox ::::: */

groupbox {
	margin: 3px 3px 5px;
}

.groupbox-body {
	margin: 0;
	padding: 6px;
	border-radius: 4px;
	box-shadow:
		inset 0 0 1px rgba(0, 0, 0, 0.2),
		inset 0 1px 2px rgba(0, 0, 0, 0.35);
	background-color: rgb(232, 232, 232);
  background-image: linear-gradient(transparent 50%, rgb(228, 228, 228) 50%);
  background-size: 4px 4px;
}

caption {
	margin: 0 4px 2px;
}

tabpanels caption {
	background-color: transparent;
}

/* !important is needed to override label in global.css */
.caption-text {
	margin: 0 2px !important;
	font-weight: bold;
}
