
/* <<<<< macfox_nostalgia >>>>>

  ====== memo.css =======================================================
  == global フォルダ内にある CSS ファイル に関するメモ
  =======================================================================

:::::::::: 手付かずのままの CSS ファイル ::::::::::

arrow.css
	どうしてもイメージを変更したいのでなければ、このままでいいか...
	
datetimepicker.css
	Thunderbird では Lightning で使われるので逐次確認しながら整形できたけど、
	Firefox では、どこに使われているか発見できず、とりあえず放置。

expander.css
	どれのことだよ?

filepicker.css
	1.0 の頃からあるみたいだけど、"File Picker dialog" って、どうやったら見られる?
	Filepicker.png にあるアイコンも、見たことがない。

scale.css
	アドオン "ツリー型タブ" のオプションで使われているのを確認。時間があったら
	手を加えたい。

*/