/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== preferences.css ================================================
  == Styles used by the XUL prefwindow element.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: dialog ::::: */

prefwindow {
  padding: 0;
}

prefpane {
  padding: 8px 8px 10px;
}

prefwindow[type="child"] {
  padding: 8px 8px 10px;
}

prefwindow[type="child"] > prefpane {
  padding: 0;
}

.prefWindow-dlgbuttons {
  padding-bottom: 10px;
  -moz-padding-start: 8px;
  -moz-padding-end: 8px;
}

prefwindow[type="child"] .prefWindow-dlgbuttons {
  padding: 0;
}

/* ::::: Pane Selector ::::: */

.paneSelector {
  margin: 0;
  -moz-padding-start: 10px;
  border-bottom: 1px solid #a3a3a3;
  background-color: rgb(247, 247, 247);
  background-image: linear-gradient(transparent 50%, rgb(244, 244, 244) 50%);
  background-size: 4px 4px;
  color: #000;
}

radio[pane] {
  -moz-appearance: none;
  margin: 0 1px;
  padding: 5px 3px 1px;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  background-color: transparent;
  min-width: 4.5em;
}

radio[pane]:hover {
  border-right: 1px solid #c9c9c9;
  border-left: 1px solid #c9c9c9;
  background-color: #ededed;
}

radio[pane][selected="true"] {
  border-right: 1px solid #b9b9b9;
  border-left: 1px solid #b9b9b9;
  background-color: #ddd;
  color: #000;
}

.paneButtonIcon {
  width: 32px;
  height: 32px;
}
