/* ***** NO LICENSE mentioned on the original code *****
 *
 * Contributor(s):
 *   SmartBright (hb.smartBright@gmail.com) <macfox_nostalgia>
 *
 * ***************************************************** */

/* <<<<< macfox_nostalgia >>>>> */

/* ===== printPreview.css ===============================================
  == Styles for Print Preview Toolbar.
  ======================================================================= */

/* ..... button ..... */

#print-preview-toolbar > button {
	-moz-margin-end: 0;
}

/* ..... page navigation ..... */

/* toolbarbutton の背景を無効化 */
.home-arrow,
.end-arrow,
.left-arrow,
.right-arrow {
	border: none !important;
	background-color: transparent !important;
}

.home-arrow,
.end-arrow[chromedir="rtl"] {
	list-style-image: url("chrome://global/skin/printpreview/arrow-left-end.png");
	-moz-image-region: rect(0, 16px, 16px, 0);
}

.home-arrow:hover,
.end-arrow[chromedir="rtl"]:hover {
	-moz-image-region: rect(0, 32px, 16px, 16px);
}

.end-arrow,
.home-arrow[chromedir="rtl"] {
	list-style-image: url("chrome://global/skin/printpreview/arrow-right-end.png");
	-moz-image-region: rect(0, 16px, 16px, 0);
}

.end-arrow:hover,
.home-arrow[chromedir="rtl"]:hover {
	-moz-image-region: rect(0, 32px, 16px, 16px);
}

.left-arrow,
.right-arrow[chromedir="rtl"] {
	list-style-image: url("chrome://global/skin/printpreview/arrow-left.png");
	-moz-image-region: rect(0, 16px, 16px, 0);
}

.left-arrow:hover,
.right-arrow[chromedir="rtl"]:hover {
	-moz-image-region: rect(0, 32px, 16px, 16px);
}

.right-arrow,
.left-arrow[chromedir="rtl"] {
	list-style-image: url("chrome://global/skin/printpreview/arrow-right.png");
	-moz-image-region: rect(0, 16px, 16px, 0);
}

.right-arrow:hover,
.left-arrow[chromedir="rtl"]:hover {
	-moz-image-region: rect(0, 32px, 16px, 16px);
}

/* ..... page number ..... */

/* 他のアイテムとの位置あわせ。なぜか2pxで位置が合う。*/
#pageNumber {
	padding-bottom: 2px;
}

/* ..... scale ..... */

#print-preview-toolbar label[control="scale"] {
	-moz-margin-end: 0 !important;
}

/* ..... scale in/decrement ..... */ /* これ、必要か? */

.up-arrow {
	list-style-image: url("chrome://global/skin/arrow/arrow-up-sharp.gif");
}

.down-arrow {
	list-style-image: url("chrome://global/skin/arrow/arrow-dn-sharp.gif");
}

/* ..... orientation ..... */

.toolbar-portrait-page,
.toolbar-landscape-page {
	padding-top: 3px;
	min-height: 27px;
}

.toolbar-portrait-page:hover:not([checked="true"]),
.toolbar-landscape-page:hover:not([checked="true"]) {
	border: 1px solid transparent;
	background-color: transparent;
}

.toolbar-portrait-page {
	list-style-image: url("chrome://global/skin/icons/Print-preview.png");
	-moz-image-region: rect(0px 16px 16px 0px);
}

.toolbar-portrait-page:hover {
	list-style-image: url("chrome://global/skin/printpreview/Print-preview-hover.png");
	-moz-image-region: rect(0px 16px 16px 0px);
}

.toolbar-landscape-page {
	list-style-image: url("chrome://global/skin/icons/Print-preview.png");
	-moz-image-region: rect(0px 32px 16px 16px);
}

.toolbar-landscape-page:hover {
	list-style-image: url("chrome://global/skin/printpreview/Print-preview-hover.png");
	-moz-image-region: rect(0px 32px 16px 16px);
}
