/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== tabbox.css =================================================
  == Styles used by XUL tab-related elements.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: tabs ::::: */

.tabs-left {
	-moz-box-flex: 1;
	background: url("chrome://global/skin/tabbox/tabs-bottom-left.png") no-repeat bottom left;
}

.tabs-right {
	-moz-box-flex: 1;
	background: url("chrome://global/skin/tabbox/tabs-bottom-right.png") no-repeat bottom right;
}

tabbox > tabs > tab {
  height: 28px;
}

/* ::::: tab ::::: */

tab {
	-moz-box-align: stretch;
	margin: 0 -1px;
}

tab > .tab-img-left {
	background: url("chrome://global/skin/tabbox/tab-left.png") no-repeat bottom left;
	width: 7px;
}

tab > .tab-img-middle {
	background: url("chrome://global/skin/tabbox/tab-mid.png") repeat-x bottom left;
}

tab > .tab-img-right {
	background: url("chrome://global/skin/tabbox/tab-right.png") no-repeat bottom right;
	width: 7px;
}

tab[selected="true"] > .tab-img-left {
	background: url("chrome://global/skin/tabbox/tab-left-active.png") no-repeat bottom left;
}

tab[selected="true"] > .tab-img-middle {
	background: url("chrome://global/skin/tabbox/tab-mid-active.png") repeat-x bottom left;
}

tab[selected="true"] > .tab-img-right {
	background: url("chrome://global/skin/tabbox/tab-right-active.png") no-repeat bottom right;
}

/* global.css/label の値が優先されるので、margin を指定する場合は注意!
   左右の padding は macfoxII では 5px となっていいるが、各種 extension の設定ダイアログなどで
   収まりきらないものが続出するので、むしろ無い方がよい、と思う。 */
.tab-text {
	padding: 0 1px 5px;
}

/* ::::: tabpanels ::::: */

tabpanels {
	padding: 8px;
	border-right: 4px solid;
	-moz-border-right-colors: #ebebeb #e3e3e3 #d4d4d4 #b2b2b2;
	border-bottom: 5px solid;
	-moz-border-bottom-colors: #ebebeb #e3e3e3 #d4d4d4 #bcbcbc #9a9a9a;
	border-left: 4px solid;
	-moz-border-left-colors: #ebebeb #e3e3e3 #d4d4d4 #b2b2b2;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	background: #eee url("chrome://global/skin/tabbox/tabs-bottom-shadow.png") repeat-x top left;
}

/* ::::: tab-bottom ::::::::::
   :: Tabs that are attached to the bottom of a panel, but not necessarily a tabpanels.
   ::::: */

/* 確認できません! どこで見れるんだろう?
   イメージを修正していないので、表示は崩れるはず。 */

.tab-bottom {
	-moz-box-align: stretch;
	margin-bottom: 2px;
	padding: 0;
	height: 26px;
}

.tab-bottom .tab-text {
	padding: 0 5px;
}

.tab-bottom > .tab-img-left {
	background: url("chrome://global/skin/tabbox/bot-tab-left.png") no-repeat bottom left;
	width: 5px;
}

.tab-bottom > .tab-img-middle {
	background: url("chrome://global/skin/tabbox/bot-tab-mid.png") repeat-x bottom left;
}

.tab-bottom > .tab-img-right {
	background: url("chrome://global/skin/tabbox/bot-tab-right.png") no-repeat bottom right;
	width: 5px;
}

.tab-bottom[selected="true"] > .tab-img-left {
	background: url("chrome://global/skin/tabbox/bot-tab-left-active.png") no-repeat bottom left;
}

.tab-bottom[selected="true"] > .tab-img-middle {
	background: url("chrome://global/skin/tabbox/bot-tab-mid-active.png") repeat-x bottom left;
}

.tab-bottom[selected="true"] > .tab-img-right {
	background: url("chrome://global/skin/tabbox/bot-tab-right-active.png") no-repeat bottom right;
}

/* ::::: tabs-bottom ::::: */

/*.tabs-bottom > .tabs-left,
.tabs-bottom > .tabs-right {
}*/
