/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== toolbar.css ====================================================
  == Styles used by XUL toolbar-related elements.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: toolbox ::::: */

toolbox {
  background-color: rgb(246, 246, 246);
  background-image: linear-gradient(transparent 50%, rgb(243, 243, 243) 50%);
  background-size: 4px 4px;
}

/* --- for Personas --- */

toolbox:-moz-lwtheme {
  background: none;
}

#navigator-toolbox:-moz-lwtheme {
  border-top: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, .15) !important;
}

/* ::::: toolbar & menubar ::::: */

toolbar,
menubar {
  border-bottom: 1px solid #a3a3a3;
  min-width: 1px;
  min-height: 20px;
}

toolbar[mode="icons"] .toolbarbutton-text {
  display: none;
}

toolbar[mode="text"] .toolbarbutton-icon {
  display: none;
}

/* ::::: toolbar decorations ::::: */

toolbarseparator {
  margin: 3px 4px;
  background: url("chrome://global/skin/toolbar/toolbar-separator.png") repeat-y;
  width: 1px;
}

toolbarspacer {
  width: 14px;
}

/* ::::: toolbarpaletteitem ::::: */

toolbarpaletteitem {
  cursor: grab;
}

.toolbarpaletteitem-box[type="spacer"],
.toolbarpaletteitem-box[type="spring"] {
  border: 1px solid #808080;
  background-color: #fff;
}

toolbarpaletteitem[place="toolbar"] {
  margin-left: -2px;
  margin-right: -2px;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
}

toolbarpaletteitem[place="toolbar"] > toolbarspacer {
  width: 10px;
}

.toolbarpaletteitem-box[type="spacer"][place="toolbar"],
.toolbarpaletteitem-box[type="spring"][place="toolbar"] {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-inline-start: 1px;
  margin-inline-end: 1px;
}

.toolbarpaletteitem-box[type="separator"][place="palette"] {
  width: 2px;
  height: 50px;
}

.toolbarpaletteitem-box[type="spacer"][place="palette"],
.toolbarpaletteitem-box[type="spring"][place="palette"] {
  margin-bottom: 2px;
  width: 50px;
  height: 50px;
}

.toolbarpaletteitem-box[type="spring"][place="palette"] {
  background: #fff url("chrome://global/skin/toolbar/spring.png") no-repeat center;
}

/* ..... drag and drop feedback ..... */

toolbarpaletteitem[dragover="left"] {
  border-left-color: #000;
}

toolbarpaletteitem[dragover="right"] {
  border-right-color: #000;
}
